{
  "discord": {
    "email": "hutotadrag@housat.com",
    "password": "I4m2bot4u"
    },
  "keywords": {
    "Help": "!commands",
    "Giphy": "!giphy",
    "Imgur": "!img",
    "Urban": "!define",
    "Srd": "!srdme"
  },
  "giphy_key": "dc6zaTOxFJmzC",
  "imgur_key": "",
  "twitch": {
    "client_id": "",
    "username": "",
    "password": "",
    "scope": "user_read"
  },
  "database": {
    "host": "127.0.0.1",
    "database": "",
    "user": "",
    "password": ""
  }
}
